body {
  background-color: #eeffee;
  margin: 1vh 1vw;
}

ul,
fieldset,
legend {
  border: 1px solid;
  background-color: #ffffff;
}

li,
legend {
  list-style-type: none;
  background-color: #ccffcc;
  padding: 0.2em 0.5em;
}

li:nth-of-type(even) {
  background-color: inherit;
}

ul {
  padding: 0;
  font-family: monospace;
}
